.news {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid $blue-lighten;
  border-radius: 3px;
  padding: 2rem 1rem;

  transition: all 0.8s;
  cursor: pointer;

  &:hover {
    border: 1px solid $white;
  }

  &__image {
    height: 12rem;
    width: 100%;
  }

  &__title {
    color: $white;
    font-size: $font-xl;
    margin: $margin-sm 0rem;
  }
}
