.mobile {
  @media (min-width: 768px) and (max-width: 1500px) {
    display: none;
  }
}

.not-mobile {
  @media (min-width: 320px) and (max-width: 480px) {
    display: none;
    border-radius: 10px;
  }
}
